section{
	padding: 100px 0;
}

header.masthead .intro-text .intro-heading {
	font-size: 65px;
	margin-bottom: 100px;
	letter-spacing: 2px;
}

header.masthead .intro-text .intro-lead-in {
	font-size: 20px;
	font-style: normal;
}
